<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.7" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.Core-log4net" version="3.3.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package id="System.Collections.Immutable.Net40" version="1.0.30.17" targetFramework="net452" />
</packages>