@using Murtain.Web.ApiDocument.Areas.HelpPage.ModelDescriptions
@model EnumTypeModelDescription

<table class="help-page-table">
    <thead>
        <tr><th>├ч│к</th><th>ох</th><th>├У╩Ш</th></tr>
    </thead>
    <tbody>
        @foreach (EnumValueDescription value in Model.Values)
        {
            <tr>
                <td class="enum-name"><b>@value.Name</b></td>
                <td class="enum-value">
                    <p>@value.Value</p>
                </td>
                <td class="enum-description">
                    <p>@value.Documentation</p>
                </td>
            </tr>
        }
    </tbody>
</table>