@{
    ViewBag.Title = "首页";
}
<div id="main">

</div>
<script>

</script>
<script type="text/babel">
    var Button = React.createClass({
    render: function() {
    return
    <button>确定</button>;
    }
    });

    ReactDOM.render(
    <Button class="ui-btn-s" />,
    document.getElementById('main')
    );

</script>