
@{
    Layout = null;
}

<div class="map"> {{model.api_description.controller_name}} > {{model.api_description.action_name}} </div>
<div class="main-container">

    <h2></h2>
    <p><label class="label m-r">{{model.api_description.http_method}}</label> https://murtain.imwork.net/{{model.api_description.relative_path}}</p>
    <div class="hr-line-dashed"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>请求参数</th>
                <th>数据类型</th>
                <th>约束</th>
                <th>描述</th>
            </tr>
        </thead>
        <tr ng-repeat="parameter in model.api_description.uri_parameters">
            <td>{{parameter.name}}</td>
            <td>
                <a ng-if="parameter.type_description.values != undefined || parameter.type_description.properties != undefined || parameter.type_description.element_description != undefined" href="#/model/{{parameter.type_description.properties != undefined || parameter.type_description.values != undefined ? parameter.type_description.name : parameter.type_description.element_description != undefined ? parameter.type_description.element_description.name:'' }}">
                    {{parameter.type_description.name.split('Of').length > 1 ? parameter.type_description.name.split('Of')[0]+'<' + parameter.type_description.name.split('Of')[1] + '>' :parameter.type_description.name }}
                </a>
                <span ng-if="parameter.type_description.values == undefined && parameter.type_description.properties == undefined && parameter.type_description.element_description == undefined">{{parameter.type_description.name}}</span>
            </td>
            <td>
                <p ng-repeat="annotation in parameter.annotations">{{annotation.documentation}}</p>
            </td>
            <td>{{parameter.documentation}}</td>
        </tr>
        <tr ng-repeat="parameter in model.api_description.request_body_parameters">
            <td>{{parameter.name}}</td>
            <td>
                <a ng-if="parameter.type_description.values != undefined || parameter.type_description.properties != undefined || parameter.type_description.element_description != undefined" href="#/model/{{parameter.type_description.properties != undefined || parameter.type_description.values != undefined ? parameter.type_description.name : parameter.type_description.element_description != undefined ? parameter.type_description.element_description.name:'' }}">
                    {{parameter.type_description.name.split('Of').length > 1 ? parameter.type_description.name.split('Of')[0]+'<' + parameter.type_description.name.split('Of')[1] + '>' :parameter.type_description.name }}
                </a>
                <span ng-if="parameter.type_description.values == undefined && parameter.type_description.properties == undefined && parameter.type_description.element_description == undefined">{{parameter.type_description.name}}</span>
            </td>
            <td>
                <p ng-repeat="annotation in parameter.annotations">{{annotation.documentation}}</p>
            </td>
            <td>{{parameter.documentation}}</td>
        </tr>
    </table>
    <div class="hr-line-dashed"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>返回数据属性</th>
                <th>类型</th>
                <th>描述</th>
            </tr>
        </thead>
        <tr ng-repeat="parameter in model.api_description.resource_properties">
            <td>{{parameter.name}}</td>
            <td>
                <a ng-if="parameter.type_description.values != undefined || parameter.type_description.properties != undefined || parameter.type_description.element_description != undefined" href="#/model/{{parameter.type_description.properties != undefined || parameter.type_description.values != undefined ? parameter.type_description.name : parameter.type_description.element_description != undefined ? parameter.type_description.element_description.name:'' }}">
                    {{parameter.type_description.name.split('Of').length > 1 ? parameter.type_description.name.split('Of')[0]+'<' + parameter.type_description.name.split('Of')[1] + '>' :parameter.type_description.name }}
                </a>
                <span ng-if="parameter.type_description.values == undefined && parameter.type_description.properties == undefined && parameter.type_description.element_description == undefined">{{parameter.type_description.name}}</span>
            </td>
            <td>{{parameter.documentation}}</td>
        </tr>
    </table>
    <div class="hr-line-dashed"></div>
    <div class="pre-code">
        <span>返回结果</span>
        <pre>{{model.api_description.sample1}}</pre>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="pre-code">
        <span>异常示例</span>
        <pre>{{model.api_description.sample2}}</pre>
    </div>
    <div class="hr-line-dashed"></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>代码</th>
                <th>说明</th>
                <th>状态码</th>
            </tr>
            <tr ng-repeat="code in model.api_description.return_code_model_description.values">
                <td>{{code.name}}</td>
                <td>{{code.documentation}}</td>
                <td>{{code.http_status_code}}</td>
            </tr>
        </thead>
    </table>
    <div class="hr-line-dashed"></div>
</div>

