@using System.Text;
@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using Murtain.Web.ApiDocument.Areas.HelpPage
@using Murtain.Web.ApiDocument.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>
@{
    var controllerDescription = ViewBag.DocumentationProvider != null
            ? ViewBag.DocumentationProvider.GetDocumentation(Model.Key) + "|"
            : "|";

    var title = controllerDescription.Split('|')[0];
    var titleDescription = controllerDescription.Split('|')[1];

    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = ViewBag.ApiGroups;
}
<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <header class="header">
        <div class="header-wrap-nav">
            <div class="header-crumbs">
                <a href="~/Help">文档中心</a> &gt;所有类目
            </div>
            <div class="header-search">
                <form action="#" name="search-form" id="search-form" target="_blank">
                    <input placeholder="资料库/API搜索" value="" name="keyword" class="header-search-input" autocomplete="off" disableautocomplete>
                    <i class="iconfont"></i>
                </form>
            </div>
        </div>
    </header>
    <div class="content-wrapper" style="margin-top:80px;">
        <div class="docs-left">
            <h3 class="docs-title">所有类目</h3>
            <ul>
                @foreach (var group in apiGroups)
                {
                    <li>
                        <a href="/Help/Category?controllerName=@(group.Key.ControllerName.ToLower())">
                            @(ViewBag.DocumentationProvider != null
                                    ? ViewBag.DocumentationProvider.GetDocumentation(group.Key).Split('|')[0]
                                    : string.Empty
                            )
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="docs-right">
            <div class="docs-right-header">
                <h2 class="docs-right-title">
                    @title (@titleDescription)
                </h2>
            </div>
            <table>
                <tr>
                    <th width="39%">API</th>
                    <th width="10%">状态</th>
                    <th width="51%">描述</th>
                </tr>
                @foreach (var api in Model.OrderBy(x => x.HttpMethod.Method))
                {
                    <tr>
                        <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.GetFriendlyId() })">@string.Join(".", api.RelativePath.ToLower().Split('?')[0].Split('/')).Replace(".{", "/{") </a></td>
                        <td><font color="#094">正常</font></td>
                        <td class="api-documentation">
                            @if (api.Documentation != null)
                            {
                                <p>@api.Documentation</p>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>